:root {
    --text-font-size: 12;
    --chord-font-size: 12;
    --chord-color: green;
    --text-color: green;
    --column-count: 1;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: white;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
}

header.toolbar {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.25rem;
    box-shadow: 0 4px 3px grey;
    background-color: #f5f5f5;
}


header label {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    padding-left: 4px;
}

header label:hover {
    cursor: pointer;
    outline: solid 2px cadetblue;
}

header input[type=color] {
    height: 1.5rem;
    background-color: white;
}

header input[type=number] {
    width: 3rem;
    height: 1rem;
}

header .elastic {
    flex: 1;

}

header .button {
    text-align: right;
}


header.chord-header button {
    height: 1.5rem;
    min-width: 2rem;
}

header.toolbar button {
    height: 2.5rem;
    min-width: 3rem;
    font-size: 1.5rem;
    margin-left: 1rem;
}


header select {
    height: 1.5rem;
    width: 3rem;
    padding: 3px;
}

header.chord-header {
    display: flex;
    justify-content: space-between;
}

select,
option {
    line-height: 1rem;
}

option.option-plus {
    font-weight: bold;
}

option.option-separator {
    background-color: grey;
    height: 2px;
    font-size: 1px;

}


button.active-read {
    border: solid 1px #3b3bc8;
    background-color: rgb(4, 79, 129);
    color: white;
}


button.active-write {
    border: solid 1px #c8bf3b;
    background-color: #dc8c58;
    color: white;
}

.dragover {
    outline: solid 3px orange;
    background-color: rgb(232, 214, 191);
}

main {
    display: flex;
    flex: 1;
    overflow: hidden;
}


main .button-delete button {
    background: transparent;
    border-width: 1px;
}

.chord-name {
    font-family: monospace;
    border: solid 1px grey;
    border-bottom: none;
    flex: 1;
}

.song-write {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 9cm;
    margin: 0.5rem;
    box-shadow: 4px 5px 3px #c7c7c7;
}

.song-write textarea {
    flex: 1;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    resize: none;
}


.song-render {
    flex: var(--column-count);
    font-family: sans-serif;
    font-size: var(--text-font-size);
    box-sizing: border-box;
    font-weight: bold;
    overflow-y: auto;
    width: 100%;
    position: relative;
    min-width: calc(9.5cm * var(--column-count));
    padding-top: 1rem;
}

.song-render .capo {
    text-align: right;
}

.song-render .capo span {
    border: dotted 1px var(--chord-color);
    padding: 0.5rem;
}

.song-render ins {
    width: 0.9rem;
    display: inline-block;
    text-decoration: none;
}

.song-render p {
    margin: 0 0 0.3rem 0;
    white-space: pre;
    line-height: 2rem;
}

.song-render .song-text {
    padding-top: var(--chord-font-size);
}

.song-render .song-text>span.chord {
    color: var(--chord-color);
    position: absolute;
    transform: translate(0, calc(var(--chord-font-size) * -1));
    font-size: var(--chord-font-size);
}


.song-render .song-text>span.inline-chord,
.song-render .inline-chord {
    color: var(--chord-color);
    position: unset;

}

.song-render sup {
    vertical-align: text-top;
    line-height: 1rem;
}


.song-render sup.notation {
    font-size: inherit;
    font-family: auto, sans-serif;
}

.song-render .solo-chord {
    color: var(--chord-color);
    margin-bottom: 0;
    font-size: var(--chord-font-size);

    font-family: monospace;
    line-height: 1.2rem;
}

.song-render .solo-chord sup {
    font-size: inherit;
}

.song-render .solo-chord.solo-tab {
    font-weight: normal;
}

.song-render .solo-chord.solo-tab .tab-string {
    display: inline-block;
    width: 2rem;
    font-weight: bold;
    text-align: center;
}


.song-render .solo-text {
    color: var(--text-color);
}

.song-render .solo-text.notation-text {
    font-style: italic;
    margin-left: 1rem;
}

.song-render .solo-chord+.song-text {
    margin-top: 0.6rem;
}



.song-render-inside.column {
    column-count: var(--column-count);
    column-fill: balance;
    column-rule: dashed 2px rgb(118, 118, 125);
    width: fit-content;
}

.song-render-inside.column .page-break {
    break-after: column;
}

.page-break {
    width: 50%;
    border: dashed 2px sandybrown;
    break-after: page;
}

.page-footer {
    text-align: right;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: 80%;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--text-color);
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

/* ==============
   WRITE ONLY MODE
================== */

body.write-only main {
    flex-direction: column;
}

body.read-only .song-write {
    flex: 0;
}

body.write-only .song-render {
    display: none;
}


body.write-only main textarea {
    padding: 0.5rem;
}

body.write-only header label,
body.write-only header .button-edit-print {
    display: none;
}

/* ==============
   READ ONLY MODE
================== */


body.read-only main {
    flex-direction: column;
}

body.read-only .song-write {
    flex: 0;
}

body.read-only .song-render {
    width: 100%;
    padding: 1rem;
}


body.read-only main textarea {
    display: none;
}

body.read-only .button-edit {
    display: none;
}

body.read-only .button-delete {
    display: none;
}

body.read-only main .chord-name {
    border-bottom: solid 1px grey;
    pointer-events: none;
    display: none;
}

body.read-only main header select {
    width: 100%;
}

body.read-only main .song-render-inside.column {
    width: auto;
}

body.read-only main .song-render-inside.column .page-break,
body.read-only main .page-break {
    display: none;
    break-after: unset;
}

main .option-fake,
body.read-only main .option-edit {
    display: none;
}

main option:disabled {
    background-color: rgb(9, 123, 180);
    color: white;
}

@page {
    margin: 1.5cm;
}


@media print {

    .song-render {
        width: 20cm;
    }

    .song-render,
    main {
        overflow: visible;
    }

    .page-break {
        visibility: hidden;
    }

    header,
    header.toolbar,
    .song-write {
        display: none;
    }


    .song-render-inside {
        width: unset;
        border: none;
    }

    .song-render-inside.column {
        column-count: var(--column-count);
        column-rule: solid 1px rgb(118, 118, 125);
        border: none;
        width: unset;
    }


    .song-render {
        width: auto;
        min-width: unset;
        padding-top: 0;
        border-right: none;
    }

    .page-footer {
        position: fixed;
        bottom: 0;
        right: 1rem;
    }
}